.wrapper
{
	width: 100vw;
	height: 100vh;
	background: var(--l_black);
	overflow: hidden;
}

.header
{
	width: 100%;
	height: 75px;
	padding: 0 1rem;
	background: var(--l_white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.header .message
{
	display: grid;
	place-items: center;
	height: 100%;
}

.header .message h2 span
{
	text-transform: capitalize;
}

.header > div:not(.message)
{
	height: 100%;
	display: none;
	align-items: center;
}

.header > div:not(.message) :is(input,button,select)
{
	height: 45px;
	background: none;
	border: 1px solid var(--l_black);
	padding: 0 1rem;
	margin-right: .5rem;
	border-radius: var(--radius_m);

	transition: border 300ms ease-in-out;
}


.header > div:not(.message) button
{
	cursor: pointer;
}

.header > div:not(.message) button i
{
	margin-right: .6rem;
	transition: color 300ms ease-in-out;
}

.header > div:not(.message) button:hover
{
	border-color: var(--l_blue);
	border-width: 2px;
}

.header > div:not(.message) button:hover i
{
	color: var(--l_blue);
}

.header > div:not(.message) #btn_filter
{
	margin-right: 1.5rem;
}

.body
{
	width: 100%;
	height: calc(100% - 75px);
	display: flex;
}

.nav
{
	height: 100%;
	width: 250px;
	background: var(--l_white);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.nav .options
{
	background: var(--l_white);
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	left: 100%;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* gap: 10px; */
}

.nav .options button
{
	width: 100%;
	height: 50px;
	font-size: .8rem;
	background: none;
	border: 1px solid var(--l_black);
	color: var(--l_black);
}

.nav button
{
	width: 100%;
	height: 120px;
	text-align: left;
	padding: 0 1rem;
	color: var(--l_black);
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 1.1rem;
	border-top: 1px solid var(--l_blue);
}

.nav button i
{
	margin-right: 1rem;
}

.nav button:focus,
.nav button:hover
{
	background: var(--l_blue);
	color: black;
}

.content
{
	height: 100%;
	width: calc(100% - 250px);
	padding: 10px;
}

/* =========================Styles for Sales section========================= */
.sales
{
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
}


/* Sales - Item Listing */
.sales .items
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.items .operations
{
	height: 75px;
	padding: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--l_white);
}

.operations .total
{
	font-size: 1.2rem;
}

.operations .total span
{
	margin-left: 1rem;
}

.operations .sale_btns button
{
	height: 50px;
	width: 150px;
	background: none;
	border: 1px solid var(--l_black);
	color: var(--l_black);
	cursor: pointer;
	transition: border 300ms ease-in-out;
	border-radius: var(--radius_m);
}

.operations .sale_btns button i
{
 transition: color 300ms ease-int-out;
 margin-right: .6rem;
}

.operations .sale_btns button:hover,
.operations .sale_btns button:focus
{
	border: 2px solid var(--l_blue);
}

.operations .sale_btns button:hover i,
.operations .sale_btns button:focus i
{
	color: var(--l_blue);
}

.products
{
	display: none;
	justify-content: space-between;
	height: 100%;
}

.show
{
	display: flex !important;
}

.users {display: none;}

/* ===================== Global Modal Styles ===================== */

.modal
{
	width: 100vw;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: var(--l_white_o);
}

.modal .card
{
	border-radius: var(--radius_d);
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--l_white);
}

.modal .card .card_header
{
  width: 100%;
  height: 50px;
  padding: 0 1rem;
	border-top-left-radius: var(--radius_d);
	border-top-right-radius: var(--radius_d);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--l_black);
	color: var(--l_white);
}

.modal .card .card_header i.fa-times-circle
{
	font-size: 1.5rem;
	cursor: pointer;
}

.modal .card .card_header i.fa-times-circle:hover
{
	color: var(--error);
}

.modal .card .card_body
{
	width: 100%;
  padding: 1.5rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modal .card .card_body .row
{
  width: 100%;
  height: 50px;
  display: flex;
  gap: 1rem;
}

.modal .card .card_body .row .col
{
  height: 100%;
}

.modal .card .card_body .row .col :is(button, input, select)
{
  height: 100%;
  background: none;
  border-radius: var(--radius_m);
  border: 1px solid var(--l_black);
  padding: 0 .6rem;
  width: 100%;
  transition: border var(--transition);
}
.modal .card .card_body .row .col :is(button i)
{
  margin-right: .6rem;
  transition: color var(--transition);
}

.modal .card .card_body .row .col :is(button:hover, select:hover)
{
  border: 2px solid var(--l_blue);
  cursor: pointer;
}

.modal .card .card_body .row .col :is(button:hover i)
{
  color: var(--l_blue);
}

.modal .card .card_body hr
{
	width: 100%;
	height: 3px;
	background: var(--l_black);
}

/* ===================== Global Modal Styles ===================== */

/* ===================== Indiviual Modal Styles ===================== */
.modal.cats_management .card
{
  width: 650px;
  height: auto;
}

.modal.cats_management .card .col:last-child
{
  width: 100px;
}

.modal.product_add .card,
.modal.product_edit .card,
.modal.checkout .card,
.modal.user_add .card,
.modal.user_edit .card
{
  width: 500px;
  height: auto;
}

.modal.sales_rep .card
{
	width: 350px;
	height: auto
}

.modal.product_add .card .col,
.modal.product_edit .card .col,
.modal.checkout .card .col,
.modal.user_add .card .col,
.modal.sales_rep .card .col
{
  width: 100%;
}



/* NEED TO BE CHANGED */

.modal.filtered_products
{
	overflow-y: auto;
}

.modal.filtered_products .card
{
	width: 500px;
	height: 500px;
}

.modal.filtered_products .card .card_body
{
	height: 450px;
	overflow: hidden;
	overflow-y: auto;
}

.modal.filtered_products .card .card_body .row
{
	height: 50px !important;
}

.modal.filtered_products .card .card_body .row .col:first-child
{
	width: 70%;
}

.modal.filtered_products .card .card_body .row .col:last-child
{
	width: 30%;
	/* NEED TO BE CHANGED */
}




.modal.user_edit .card .row:not(.row:last-child) .col:first-child
{
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal.user_edit .card .row:not(.row:last-child) .col:last-child
{
  width: 70%;
}

.modal.user_edit .card .row:last-child .col
{
  width: 100%;
}

.modal.cats_management .card .card_body .row
{
  justify-content: flex-end;
}
.modal.product_add .card .card_body .row,
.modal.product_edit .card .card_body .row
{
  justify-content: flex-start;
}
/* ===================== Indiviual Modal Styles ===================== */
